#text {
    width: 90%;
    margin: 1em;
    position:fixed
}

#chat {
    overflow: none;
    position: relative;
    /* width: 100%; */
    height: 60vh;
    border: 1px solid #ccc;
}

.reciever {
    text-align: right;
}

.sender {
    color:crimson;
}