body {
    margin: auto;
}

.col-lg-2 {
    /* margin: 1px; */
    border: black thin solid;
    border-radius: 15px;
}

.row {
    margin-top: 10px;
    margin-bottom: 35px;
}

.profPad {
    margin: 5px;
    padding: 5px;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

#pfp-div {
    text-align: center !important;
    width: 100%;
    height: 100%;
}

#pfp {
    margin: 1em;
    max-width: 90%;
    max-height: 80vh;
}

#current-profile {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#current-profile-content {
    margin-top: 5vh;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #999;
    width: 60%;
    max-height: 90vh;
    background-color: white;
    text-align: center;
    overflow-y: scroll;
    border-radius: 10px;
    /* vertical-align: bottom; fix this pls */
}

.current-profile-titles {
    text-align: left;
    margin-left: 1em;

}
.current-profile-content {
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
}


