body {
    margin: auto;
    background-image: url("icthus.png");
    background-repeat: space;
    background-color: lightyellow;
}

#back {
    color: crimson;
    margin: 1em;
}

h1, h3 {
    padding: 1em;
    padding-bottom: 1em;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.col-lg-2 {
    border: black thick;
    border-radius: 30px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    margin:auto;
    width: 70%;
    max-width: 30em;
    /* margin: auto; */
    background-color: rgb(255, 255, 255);
    padding: 2em;
    padding-top: 1.5em;
    padding-bottom:1.5em;
    border:rgb(238, 238, 238) outset;
    border-radius: 15px;
}


button {
    justify-content: center;
    background-color: crimson !important;
    border: crimson !important;
}