.navbar {
    background-color: rgb(255, 255, 255);
}

#video-container {
    /* float:right; */
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    margin-top: 5%;
}

#blurb {
    /* float: left; */
    margin: 5em;
    /* margin-top:3em; */
    background-color: white;
    border: rgb(238, 238, 238) outset;
    border-radius: 15px;
    padding: .5em;
    /* min-width:39% */
    text-align: center;
}

#title {
    color: crimson;
}